#buscar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 29px;
    color: #000000;
}

h4 {
    padding:5% 5% 0 ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}

#fundaciones {
    padding-top: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

#imgcenter {
    background-color: #83BCFF;
    border-radius: 20px;
    /* fallback for old browsers */
    background: #667eea;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #83BCFF, #83D9FF);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #83BCFF, #83D9FF);
}

#im {
    padding: 0 5% 5% 5%;
}

img {
    border-radius: 10%;
}
mat-button-toggle {
    background: #80FFE8;
    padding: 5% 7% 5%;
        width: 100%;
}
mat-button-toggle-group{
    border-radius: 20px;
    width: 100%;

} 
#footer {
    
padding-top: 20%;
}
#icon2e{
    background: #80F7FF;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom, #83BCFF, #80F7FF);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom, #83BCFF, #80F7FF);
}