<h2 id="buscar">Busca</h2>
<div id="actualizaciones"></div>
<h3>Enterate de las nuevas actualizaciones</h3>
<img id="imgact" src="./assets/imagenes/picsea-EScCHx_ZR8Y-unsplash.jpg">
<h2 id="fundaciones">Nuestras fundaciones</h2>
<img id="img1" src="./assets/imagenes/hidayat-abisena-JsDlJ3hZyf8-unsplash.jpg">
<img id="img2" src="./assets/imagenes/jana-shnipelson-KnzXzvRqTFE-unsplash.jpg">
<img id="img3" src="./assets/imagenes/cynthia-smith-vDs0MCYkfQ4-unsplash.jpg">
<img id="img4" src="./assets/imagenes/sasha-sashina-Xcscr_sNSEY-unsplash.jpg">
<div id="footer"></div>
<img id="icon1" src="./assets/icons/bx-donate-heart.svg" routerLink="/filtro" >
<img id="icon2" src="./assets/icons/bx-list-check.svg">
<img id="icon3" src="./assets/icons/bxs-user.svg" routerLink="/adoptante">