<section class="intro">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(255,255,255,.6);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card gradient-custom" style="border-radius: 1rem;">
                <div class="card-body p-5 text-white">
                  <div class="my-md-5">
                    <div class="text-center pt-1">
                        <img src="./assets/imagenes/alvan-nee-1VgfQdCuX-4-unsplash.jpg">
                        <h1>PuppyM</h1>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input type="email" id="typeEmail" class="form-control form-control-lg" />
                      <label class="form-label" for="typeEmail">Usuario</label>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="typePassword" class="form-control form-control-lg" />
                      <label class="form-label" for="typePassword">Contraseña</label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        Recordarme
                      </label>
                    </div>
                    <div class="text-center py-5">
                      <button class="btn btn-light btn-lg btn-rounded px-5" type="submit" routerLink="/principal">Iniciar sesión</button>
                    </div>
                  </div>
                  <div class="text-center">
                    <p class="mb-0"><a href="#!" class="text-white fw-bold">¿Olvidaste tu contraseña?</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>