img{
   
position: absolute;
width: 122px;
height: 117px;
left: 31px;
top: 37px;
border-radius: 100px;
}
h1{
    
position: absolute;
width: 258px;
height: 125px;
left: 166px;
top: 65px;

font-family: 'Henny Penny';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 85px;

color: #000000;
}

#user{position: absolute;
    width: 75px;
    height: 24px;
    left: 80px;
    top: 218px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #6A4E4E;
    }

#contr{
    position: absolute;
width: 113px;
height: 24px;
left: 80px;
top: 324px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #6A4E4E;
}

#wuser{
position: absolute;
width: 228px;
height: 53px;
left: 76px;
top: 251px;

background: #D9D9D9;
border-radius: 10px;}

#wpsswd{
    position: absolute;
width: 228px;
height: 53px;
left: 76px;
top: 353px;

background: #D9D9D9;
border-radius: 10px;
}
button{
    position: absolute;
width: 228px;
height: 53px;
left: 76px;
top: 533px;

background: #80FFE8;
border-radius: 10px;
}
