<section class="intro">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(255,255,255,.6);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card gradient-custom" style="border-radius: 1rem;">
              <div class="card-body p-5 text-white">
                <div class="my-md-5">
                  <div>
                    <h2 id="buscar">¡Bienvenido ##!</h2>
                    <div id="perfil">         
                       <img class="img-fluid" id="im" src="./assets/imagenes/joel-mott-LaK153ghdig-unsplash.jpg">
                    </div>
                        <button id="tusmascotas" class="btn btn-light btn-lg btn-rounded px-5" type="submit" routerLink="/mascotasadoptante">
                            <h5 id="mascotas">Tus mascotas</h5>
                        </button>
                    <div id="footer">
                        <mat-button-toggle-group name="nav" aria-label="nav">
                            <mat-button-toggle  value="filtro" routerLink="/filtro">
                                <img id="icon1e" src="./assets/icons/bx-donate-heart.svg" >
                            </mat-button-toggle>
                            <mat-button-toggle value="check" routerLink="/principal">
                                <img src="./assets/icons/bx-list-check.svg">
                            </mat-button-toggle>
                            <mat-button-toggle  id="icon2e" value="adoptante" routerLink="/adoptante">
                                <img id="icon3e" src="./assets/icons/bxs-user.svg">
                            </mat-button-toggle>
                          </mat-button-toggle-group>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
