<section class="intro">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(255,255,255,.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card gradient-custom" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-white">
                            <div class="my-md-5">
                                <div>
                                    <div id="info" class="pt-4 align-items-center">
                                        <img id="icon1e" class="img-fluid"
                                            src="./assets/imagenes/justin-veenema-NH1d0xX6Ldk-unsplash.jpg">
                                        <h3>Nina</h3>
                                        <p class="card-text">
                                            Fundación Hi <br>
                                            Perrita de 8kg<br>
                                            Fecha adopción: 12/07/2022<br>
                                            Próxima cita: 08/08<br>
                                            -<br>
                                            -<br>
                                            -<br>
                                            -<br>
                                            -<br>
                                        </p>
                                    </div>
                                    <div class="text-center py-5">
                                        <button class="btn btn-light btn-lg btn-rounded px-5" type="submit"
                                            routerLink="/mascotasadoptante">Regresar</button>
                                    </div>
                                    <div id="footer">
                                        <mat-button-toggle-group name="nav" aria-label="nav">
                                            <mat-button-toggle value="filtro" routerLink="/filtro">
                                                <img id="icon1e" src="./assets/icons/bx-donate-heart.svg">
                                            </mat-button-toggle>
                                            <mat-button-toggle value="check" routerLink="/principal">
                                                <img src="./assets/icons/bx-list-check.svg">
                                            </mat-button-toggle>
                                            <mat-button-toggle id="icon2e" value="adoptante" routerLink="/adoptante">
                                                <img id="icon3e" src="./assets/icons/bxs-user.svg">
                                            </mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>