<section class="intro">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(255,255,255,.6);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card gradient-custom" style="border-radius: 1rem;">
              <div class="card-body p-5 text-white">
                <div class="my-md-5">
                  <div class="text-center pt-1">
                    <h1>PuppyM</h1>
                    <h4>"Adopta recuerdos"</h4>
                    <div id="back"><img src="./assets/imagenes/alvan-nee-1VgfQdCuX-4-unsplash.jpg"></div>
                  </div>
                  <div class="text-center py-5">
                    <button class="btn btn-light btn-lg btn-rounded px-5" type="submit" routerLink="/login">Iniciar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>