@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

html,
body,
.intro {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 750px) {

  html,
  body,
  .intro {
    height: 830px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  .intro {
    height: 830px;
  }
}

.gradient-custom {
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #FDD692, #FDBC92);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #FDD692, #FDBC92);
}

img {

  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 40px;
  box-shadow: 0 0 10px #83BCFF;
}

h1 {
  width: 100%;
  font-family: 'Henny Penny', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 113px;
  color: #000000;
}

.form-control {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
}

button:hover {
  background-color: #80FFE8;
}


h4 {
  font-family: 'Henny Penny', cursive;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color: white;
}